TELEGRAM_BOT_TOKEN=
SETTINGS_FILE=telegram_llm_bot.bots.base_chatbot.settings
BOT_NAME=telegram-llm-bot
COLLECTION_NAME=users

# Optional when LLM_PROVIDER=beam
BEAM_TOKEN=
BEAM_URL=
BEAM_APP_NAME=telegram-llm-bot
